body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* CheckoutPage.css */
.highlighted-item {
  color: navy; /* Navy blue color for highlighted items */
}

.checkout-summary {
  /* Adjust styles for the checkout summary */
}

.checkout-summary p {
  margin: 0.5em 0; /* Optional: Adjust margin for better spacing */
}

.highlight {
  color: navy; /* Navy blue color for highlighted details */
  font-weight: bold; /* Optionally, make the text bold */
}

/* CheckoutPage.css */
.choose-delivery-type {
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the desired color */
  font-size: 18px;
}


.sub-container {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.product-details,
.delivery-box,
.payment-section {
  padding: 20px;
}

.delivery-box label {
  display: block;
  margin-bottom: 8px;
}

.delivery-option {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  cursor: pointer;
  margin-bottom: 8px;
}

.store-dropdown {
  margin-top: 10px;
  width: 100%; 
}

.store-dropdown label {
  margin-bottom: 8px;
}

.store-dropdown select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.save-button-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 10px;
}

.save-button-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.save-button-container button:hover {
  background-color: #45a049;
}

.other-address-form label {
  display: block;
  margin-bottom: 8px;
}

.other-address-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.payment-section label {
  display: block;
  margin-bottom: 8px;
}

.payment-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.payment-section button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  padding: 10px 15px;
  color: #111;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px; 
}

.payment-section button:hover {
  background-color: #ddb347;
}
