.contact-container {
  background-color: rgb(255, 213, 0); /* Change the background color */
  color: white;
  padding: 5px; /* Increase the padding for more space */
  width: 1000px; /* Increase the width of the container */
  height: 300px; /* Increase the height of the container */
  text-align: center;
}

.contact-text {
  margin-bottom: 30px; /* Increase the margin */
  font-size: x-large; /* Increase the font size */
}

.contact-text p {
  margin: 10px 0; /* Adjust the margin */
}

.contact-text a {
  color: rgb(0, 0, 0);
  font-size: x-large; /* Increase the font size */
  text-decoration: none;
}

.social-links a {
  margin: 0 15px; /* Adjust the margin */
  font-size: x-large; /* Increase the font size */
}
