.contact-container {
  background-color: rgb(255, 213, 0); 
  color: white;
  padding: 5px; 
  width: 1000px; 
  height: 300px; 
  text-align: center;
}

.contact-text {
  margin-bottom: 30px; 
  font-size: x-large; 
}

.contact-text p {
  margin: 10px 0; 
}

.contact-text a {
  color: rgb(0, 0, 0);
  font-size: x-large; 
  text-decoration: none;
}

.social-links a {
  margin: 0 15px; 
  font-size: x-large; 
}
