/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .footer {
      font-size: 14px; /* Adjust font size for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
    }
  }
  